:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  color: #262626;

  transition-property: background;
  transition-duration: 0.5s;
}

table {
  min-width: 800px;
}

th {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
